body {
    font-family: 'DM Sans', sans-serif;
}

.section-tophelp {
    height: 500px;
    background-image: url("images/donation1.jpg");

    background-repeat: no-repeat;
    background-size: cover;

}

.tophelp {
    color: white;
    text-align: center;
    padding-top: 200px;

}

#Need-help {
    font-size: 40px;
}

.btn-helpNow {
    background-color: rgba(222, 73, 9, 0.882);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.section-donate {
    margin-top: 100px;
}

.donate {
    display: flex;
    justify-content: center;
    text-align: center;
}

.amount-card {
    display: flex;
    justify-content: center;
}

.amount-take {
    margin: 10px;
    padding: 30px 15px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
}

.amount-take1 {
    background-color: rgba(255, 127, 80, 0.393);
    margin: 10px;
    padding: 30px 15px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0.427);
    color: rgba(255, 0, 0, 0.535);
}

.other-amount {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.amount-btn {
    display: flex;
    justify-content: center;
}

.input-text {
    border: none;
    outline: none;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.border-btom {
    width: 500px;
    border: 1px solid rgba(223, 225, 227, 0.344);
    margin: 10px 0px;
}

.section-donation-plan {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.donation-card {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card-1 {
    background-color: aliceblue;
    padding: 10px;
    margin: 0px 10px;
    height: 300px;
    text-align: left;
    padding-top: 100px;
    border-radius: 5px;
}

.card-2 {
    background-color: rgba(241, 237, 244, 0.619);
    padding: 10px;
    margin: 0px 10px;
    height: 300px;
    text-align: left;
    padding-top: 100px;
    border-radius: 5px;
}

.card-3 {
    background-color: rgba(240, 235, 228, 0.538);
    padding: 10px;
    margin: 0px 10px;
    height: 300px;
    text-align: left;
    padding-top: 100px;
    border-radius: 5px;
}

.Our-observer h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.observer {
    display: flex;

}

.observer img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.observer-1 {
    margin: 0px 10px;
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
}

.observer-2 {
    margin: 0px 10px;
    padding: 10px;
    background-color: rgba(240, 235, 228, 0.538);
    border-radius: 10px;
}

.name-1 {
    color: rgba(59, 109, 153, 0.607);
}

.name-2 {
    color: rgba(242, 212, 122, 0.461);
}

.Get-Update {

    display: flex;

}

.Update {
    justify-self: center;
    margin: 50px 200px;
}

.Get-Update h1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Email-form {
    background-color: rgba(242, 212, 122, 0.461);
    width: 690px;
    height: 200px;
}

.Email-field {
    padding: 100px 180px;

}

.Email-field input {
    border: none;
    padding: 10px 10px;
    margin: none;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.Email-field button {
    border: none;
    padding: 10px 10px;
    margin: none;
    background-color: orange;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
}

footer {
    height: 300px;
    background-color: black;

}

.Be-Humble p {
    text-align: center;
    color: white;
}

.Be-Humble h2 {
    text-align: center;
    color: rgb(221, 21, 21);
    font-family: 'The Nautigal', cursive;
    font-size: 50px;
}

.Be-Humble {
    padding-top: 70px;
}